<p *ngFor="let city of cities">{{city}}</p>

<ol>
    <li *ngFor="let city of cities">{{city}}</li>
</ol>

<select name="" id="">
    <option *ngFor="let city of cities" >{{city}}</option>
</select>



<p *ngFor="let product of products">{{product.name}} price is {{product.price}}</p>


<table border="1">
    <thead>
        <tr>
            <th>SNO</th>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i =index">
            <td>{{i+1}}</td>
            <td [ngClass]="{'costly':product.price>=20000,'cheap':product.price<20000}"> {{product.name|uppercase}}</td>
            <td [ngStyle]="{'color':product.price>=20000?'red':'green'}">{{product.price}}</td>
        </tr>
    </tbody>
</table>


<h1 *ngIf="isvalid">hlioo   </h1>

<h1>{{today}}</h1>
<h1>{{today|date}}</h1>
<h1>{{today|date:'yyyy/mm/dd'}}</h1>

<!-- debugging -->
 <pre>{{user|json}}</pre>