<div class="parent">
    <div class="child">
        <div class="top">
            <div class="t1">
                <h2 class="lo"></h2>
                <h2 style="color: blue; position: relative;right: 4%;">naukri</h2>
                <h6>jobs</h6>
                <h6>comapny</h6>
                <h6>service</h6>
                <div class="ser" >
                    <input style="border-radius: 20px;" type="text" placeholder="search jobs here " >
                    
                </div >
                
                <button class="nu">naukri <span>360</span></button>
                <div class="pro">
                    <p class="fil"></p>
                </div>

            </div>
            <div class="t2">
                <h5>Recommended jobs for you</h5>
                <div class="rec">
                    <h6 style="position: relative; left: 20%;">You can select upto 5 jobs to apply</h6>
                    <button class="app">apply</button>
                </div>
            </div>
                <div class="t3">
                    <h5>urgent hiring</h5>
                    <h5>Applies</h5>
                    <h5>Profile</h5>
                    <h5>Top Candidate</h5>
                    <h5>Preferences</h5>
                    <h5>You might like</h5>
                </div>
            
        </div>
    </div>
</div>
